#pragma once
#include <string>

namespace AppConfig {
    static const std::string TOPOLOGY_FILE = "../setting/StaticNetworkTopology_ipAlias4_9Switches_all_1g_cable.json";
    static const std::string SIM_SERVER_URL = "http://localhost:9000/submit";
    static const std::string GW_IP = "localhost";
    static const std::string RYU_IP_AND_PORT = "localhost:8080";
    static const std::string TOPOLOGY_FILE_MININET = "../setting/StaticNetworkTopologyMininet_10Switches.json";
}
